## <a id="load-balancer"></a> Add Healthcheck Endpoints for CF Routers

Configure your load balancer to use the following HTTP healthcheck endpoints. Add the IP addresses of all router instances along with their corresponding port and path.

  * HTTP Router (Gorouter): `http://GOROUTER_IP:8080/health`
  * TCP Router: `http://TCP_ROUTER_IP:80/health`

The configuration above assumes the default healthcheck ports for the CF routers. To modify these ports, see the sections below. 

### <a id="gorouter"></a> Set the Gorouter Healthcheck Port

You can set the healthcheck port for the Gorouter in the cf-deployment manifest using the `router.status.port` property. The value of this property defaults to `8080`. 

### <a id="tcp-router"></a> Set the TCP Router Healthcheck Port

You can set the healthcheck port for the TCP Router in the routing-release manifest using the `tcp_router.health_check_port` property. The value of this property defaults to `80`. 

<p class="note"><strong>Note</strong>: This property does not affect the healthcheck of the HAProxy deployed with cf-deployment.</p>

