1. In the PCF Ops Manager Installation Dashboard, click the <strong>Elastic Runtime</strong> tile.

2. In the <strong>Settings</strong> tab, under <strong>Resource Config</strong> increase the instances for <strong>Diego Cell</strong>. <br><br>

    In general, set the number of Diego cells to be the same as the number of DEA instances.

    For example, if you have allocated three DEA instances with 32 GB of persistent disk and 32 GB of RAM for each, 
    allocate three Diego Cell instances with 32 GB of persistent disk and 32 GB of RAM for each to have similar capacity on Diego as with DEAs.</p>

    For more information about scaling VMs, see <a href="https://docs.pivotal.io/pivotalcf/1-6/opsguide/scaling-ert-components.html">Scaling Instances in Elastic Runtime</a>.

3. Make sure that <strong>Diego Brain</strong> and <strong>Diego etcd</strong> have at least one instance each. 

2. Click <strong>Save</strong> on the <strong>Resource Config</strong> page. 

3. From the <strong>Settings</strong> tab of the Elastic Runtime tile, click <strong>Diego</strong> 
and select the <strong>Use Diego by default instead of DEAs</strong> checkbox. 

4. Click <strong>Save</strong>.

    <img src="./images/diego-ert.png">

5. Navigate to the <strong>Installation Dashboard</strong> and click <strong>Apply Changes</strong>.
