After developers have verified that their applications have migrated successfully, 
operators should confirm that all applications have been migrated:

1. Run the `cf dea-apps` command to view any apps that are still running on the DEA architecture.
1. Migrate any additional apps using the procedures in <a href="#migrate-app">Developers: Migrate Apps to Diego</a>.
1. In the PCF Ops Manager Installation Dashboard, click the <strong>Elastic Runtime</strong> tile.
1. In the <strong>Settings</strong> tab, under <strong>Resource Config</strong> scale the DEA 
   and Health Manager VMs to 0 since they are not used in Diego deployments. 
   For more information about scaling VMs, see <a href="https://docs.pivotal.io/pivotalcf/1-6/opsguide/scaling-ert-components.html">
   Scaling Instances in Elastic Runtime</a>.
1. Click <strong>Save</strong> on the <strong>Resource Config</strong> page.
1. Navigate to the <strong>Installation Dashboard</strong> and click <strong>Apply Changes</strong>.
1. Monitor usage in the Diego cells, in particular, 
   the `CapacityRemainingMemory` metric over all the Diego cells is a good indicator of usage. 
   For more information, see <a href="../loggregator/all_metrics.html#rep">Diego metrics, origin rep</a>.
