To add an older cipher suite to the Gorouter default cipher suites, set the TLS minimum version to v1.1 or v1.0 in your Gorouter configuration.
    For example:
    <pre>
    router:
      min_tls_version: TLSv1.1
    </pre>
    Then add one or more of the Gorouter-supported cipher suites listed in <a href="#tls_10_11">TLS v1.0 and v1.1</a> to the existing list of default cipher suites.
    For example, you could add the following property to your BOSH deployment manifest file:
    <pre>
    router:
      cipher_suites: TLS\_ECDHE\_RSA\_WITH\_AES\_128\_GCM\_SHA256:TLS\_ECDHE\_RSA\_WITH\_AES\_256\_GCM\_SHA384:TLS\_RSA\_WITH\_AES\_128\_CBC\_SHA
    </pre>
