Configure the `routing_api.router_groups` manifest property with the same range of ports that you configured your load balancer with in step three, above.
		
			routing_api.router_groups:
		  		- name: default-tcp
		    		reservable_ports: 1024-1123
		    		type: tcp
		

See the <a href ="https://github.com/cloudfoundry-incubator/routing-release">CF Routing Release Github</a> page for more information. To modify the ports after you have deployed, see the [Post-Deployment steps: Modify your TCP Ports](#modify-port) topic below. 