Review the "Enable TCP Routing" steps in the _Deploying Pivotal Application Service_ topic 
for your IaaS to configure your ports for your PCF deployment&#58; 
<a href="../customizing/pcf-aws-manual-er-config.html#networking">AWS</a>, 
<a href="../customizing/openstack-er-config.html#networking">OpenStack</a>, 
or <a href="../customizing/config-er-vmware.html#networking">vSphere</a>.
