---
title: Securing your Deployment with Application Security Groups
owner: Security
---

## <a id='prerequisites'></a> Prerequisites ##

* Download the latest release of the [ASG Creator](https://github.com/cloudfoundry-incubator/asg-creator/releases/latest) from the Cloud Foundry incubator repository on Github.

## <a id='bind-default'></a> Step 1: Bind the Default ASG ##

The default ASG's name is either `all_open` or `default_security_group`. The name of the ASG depends on the version of your initial Elastic Runtime installation.

1. Run the following commands:
  <pre class="terminal">
  $ cf running-security-groups
  </pre>
  
1. Examine the output to determine which default ASG you have: `all_open` or `default_security_group`. 

1. Bind the default security group to the staging set:
  * If `all_open`, run the following:
    <pre class="terminal">$ cf bind-staging-security-group all_open system</pre>
  * If `default_security_group`, run the following:
    <pre class="terminal">$ cf bind-staging-security-group default_security_group system</pre>

1. Bind the default security group to the running set:
  * If `all_open`, run the following:
    <pre class="terminal">$ cf bind-running-security-group all_open system</pre>
  * If `default_security_group`, run the following:
    <pre class="terminal">$ cf bind-running-security-group default_security_group system</pre>


## <a id='network'></a> Step: 2 Determine your Network Layout ##

The steps for securing your deployment with ASGs vary depending on your network layout. Follow this procedure to determine your network layout. 

1. Log in to Ops Manager. 

1. For each tile, click **Assign AZs and Networks** and record the selected **Network** the tile is installed on. 

1. Based on the information you gathered, determine which of the following network layouts you have:
  <table>
    <tr>
      <th>Layout Name</th>
      <th>Layout Description</th>
    </tr>
    <tr>
      <td>One Network</td>
      <td><ul><li>One network for Ops Manager and the Ops Manager Director, Elastic Runtime, and services.</li></ul></td>
    </tr>
    <tr>
      <td>Two Networks</td>
      <td><ul><li>One network for Ops Manager and the Ops Manager Director.</li>
          <li>One network for Elastic Runtime and Services.</li></ul></td>
    </tr>
    <tr>
      <td>Three Networks</td>
      <td><ul><li>One network for Ops Manager and the Ops Manager Director.</li>
          <li>One network for Elastic Runtime.</li>
          <li>One network for all services.</li></ul></td>
    </tr>
    <tr>
      <td>Three or More Networks</td>
      <td><ul><li>One network for Ops Manager and the Ops Manager Director.</li>
          <li>One network for Elastic Runtime.</li>
          <li>One network for each service.</ul></td>
    </tr>
  </table>

## <a id='initial'></a> Step 3: Create Initial ASGs ##

Gather the CIDRs for each of the networks in your deployment.

1. From the Ops Manager Director tile, click **Create Networks** within the **Settings** tab.

1. In the **Networks** section, expand each network in your deployment by clicking its name.

1. Record the **CIDR** for each network.

1. Follow the procedure that corresponds with the network layout of your deployment, using the CIDRs you recorded. 

### <a id='two-networks'></a> Two Networks

Block the ERT/Service network and whitelist the ports/protocols that the services provide:

1. Create a `config.yml` file that includes the following:

    ```
    excluded_networks:
    - OPS-MAN-CIDR
    - ERT-AND-SERVICES-CIDR
    ```
1. Run the following command to convert the `yml` file to an ASG rules `json`. 
  <pre class="terminal">$ asg-creator create --config config.yml --output private-networks.json</pre>

1. Open the generated `private-networks.json` and add an ASG rule for each service port and protocol. For instance, for MySQL, you might add: 

    ```
    {
      "protocol": "tcp",
      "destination": "192.168.1.0/24",
      "ports": "3306"
    }
    ```

1. Create a security group using your ASG rules `json`: 
  <pre class="terminal">$ create-security-group SECURITY-GROUP-NAME private-networks.json</pre>

1. Bind the security group the ORG-NAME org and the SPACE-NAME space.
  <pre class="terminal">$ cf bind-security-group SECURITY-GROUP-NAME my-org my-space</pre>


### <a id='three-networks'></a>  Three Networks

With this configuration, you would exclude the networks for OM/OMD and ERT. You could also exclude the Services network by default, and then only give access to that network on a space-by-space basis.

1. Create a `config.yml` file that includes the following:

    ```
    excluded_networks:
    - OPS-MAN-CIDR
    - ERT-CIDR
    - SERVICES-CIDR
    ```

1. Run the following command to convert the `yml` file to an ASG rules `json`. 
  <pre class="terminal">$ asg-creator create --config config.yml --output multi-service-network.json</pre>

1. Create a security group using your ASG rules `json`: 
  <pre class="terminal">$ create-security-group SECURITY-GROUP-NAME multi-service-network.json</pre>

1. Bind the security group the ORG-NAME org and the SPACE-NAME space.
  <pre class="terminal">$ cf bind-security-group SECURITY-GROUP-NAME my-org my-space</pre>

### <a id='three-plus-networks'></a>  Three or More Networks

With this configuration, you would exclude the networks for OM/OMD and ERT. You could also exclude all Service networks by default, and then only give access to specific Service networks on a space-by-space basis.

1. Create a `config.yml` file that includes the following:

    ```
    excluded_networks:
    - OPS-MAN-CIDR
    - ERT-CIDR
    - SERVICE-CIDR-1
    - SERVICE-CIDR-2
    etc...
    ```

1. Run the following command to convert the `yml` file to an ASG rules `json`. 
  <pre class="terminal">$ asg-creator create --config config.yml --output single-service-network.json</pre>

1. Create a security group using your ASG rules `json`: 
  <pre class="terminal">$ create-security-group SECURITY-GROUP-NAME single-service-network.json</pre>

1. Bind the security group the ORG-NAME org and the SPACE-NAME space.
  <pre class="terminal">$ cf bind-security-group SECURITY-GROUP-NAME my-org my-space</pre>

## <a id='typical'></a> Step 4: Create Additional ASGs

Below are examples of typical ASGs. Configure your ASGs in accordance with your organization's network access policy for untrusted apps.

|ASG                   |For access to
|---                   |---
|`dns`                 |DNS, either public or private
|`public-networks`     |Public networks, excluding IaaS metadata endpoints
|`private-networks`    |Private networks in accordance with  [RFC-1918](https://tools.ietf.org/html/rfc1918#section-3)
|`load-balancers`      |The internal <%= vars.product_full %> load balancer and others
|`internal-proxies`    |Internal proxies
|`internal-databases`  |Internal databases

### <a id='dns-example'></a>DNS ###

To resolve hostnames to IP addresses, apps require DNS server connectivity, 
which typically use port 53. 
Administrators should create or update a `dns` ASG with appropriate rules. Administrators may further restrict the DNS servers to specific IP addresses or 
ranges of IP addresses.

Example `dns` ASG:

```
[
  {
    "protocol": "tcp",
    "destination": "0.0.0.0/0",
    "ports": "53"
  },
  {
    "protocol": "udp",
    "destination": "0.0.0.0/0",
    "ports": "53"
  }
]
```

### <a id='public-networks-example'></a>Public Networks ###

Apps often require public network connectivity to retrieve app dependencies, or 
to integrate with services available on public networks. 
Example app dependencies include public Maven repositories, NPM, RubyGems, and 
Docker registries.

<p class='note'><strong>Note</strong>: You should exclude IaaS metadata endpoints, such as <code>169.254.169.254</code>, because the metadata endpoint can expose sensitive environment information to untrusted apps. The <code>public_networks</code> example below accounts for this recommendation.</p>

Example `public_networks` ASG:

```
[
  {
    "destination": "0.0.0.0-9.255.255.255",
    "protocol": "all"
  },
  {
    "destination": "11.0.0.0-169.253.255.255",
    "protocol": "all"
  },
  {
    "destination": "169.255.0.0-172.15.255.255",
    "protocol": "all"
  },
  {
    "destination": "172.32.0.0-192.167.255.255",
    "protocol": "all"
  },
  {
    "destination": "192.169.0.0-255.255.255.255",
    "protocol": "all"
  }
]
```

### <a id='private-networks-example'></a>Private Networks ###

Network connections that are commonly allowable in private networks include
endpoints such as proxy servers, Docker registries, load balancers, databases,
messaging servers, directory servers, and file servers. Configure appropriate
private network ASGs as appropriate. You may find it helpful to use a naming
convention with `private_networks` as part of the ASG name, such as `private_networks_databases`.

<p class='note'><strong>Note</strong>: You should exclude any private networks and IP addresses that app and task instances should not have access to. </p>

Example `private_networks` ASG:

```
[
  {
    "protocol": "tcp",
    "destination": "10.0.0.0-10.255.255.255",
    "ports": "443"
  },
  {
    "protocol": "tcp",
    "destination": "172.16.0.0-172.31.255.255",
    "ports": "443"
  },
  {
    "protocol": "tcp",
    "destination": "192.168.0.0-192.168.255.255",
    "ports": "443"
  }
]
```

### <a id='marketplace-services'></a>Marketplace Services ###

Each installed Marketplace Service requires its own set of ASG rules to
function properly. See the installation instructions for each
installed Marketplace Service to determine which ASG rules it requires.
For more information about how to provision and integrate services, see the [Services Overview](../devguide/services/index.html) topics.

## <a id='unbind-default'></a> Step 5: Unbind the Default ASG

Once your new ASGs are bound to the appropriate ASG sets and spaces, you can unbind the default ASG from default-staging and default-running:

1. Bind the default security group to the staging set:
  * If `all_open`, run the following:
    <pre class="terminal">$ cf unbind-staging-security-group all_open system</pre>
  * If `default_security_group`, run the following:
    <pre class="terminal">$ cf unbind-staging-security-group default_security_group system</pre>

1. Bind the default security group to the running set:
  * If `all_open`, run the following:
    <pre class="terminal">$ cf unbind-running-security-group all_open system</pre>
  * If `default_security_group`, run the following:
    <pre class="terminal">$ cf unbind-running-security-group default_security_group system</pre>


## <a id='typical'></a> Step 6: Restart your Apps to Apply the ASGs

To apply the ASG changes, you must restart all of the apps in your deployment. To mitigate app downtime during the restart, a [blue-green](../devguide/deploy-apps/blue-green.html) deployment strategy is recommended.

1. Restart a few apps individually to test ASG changes. Confirm that your app works as expected. 

1. Restart the rest of your apps. Optionally, you can use the [app-restarter cf CLI plugin](https://github.com/cloudfoundry-incubator/app-restarter) to restart all apps in a particular space, org, or deployment.
