---
title: Creating and Managing Users with the cf CLI
---

_This page assumes you are using cf v6._

Using the `cf` Command Line Interface (CLI), an administrator can create users
and manage user roles. Cloud Foundry uses role-based access control, with each role granting permissions in either an organization or an application space.

For more information, see [Organizations, Spaces, Roles, and Permissions](../concepts/roles.html).

**Note**: To manage users, organizations, and roles with the `cf` CLI, you must log in with the **UAA Administrator user credentials**.

## <a id='create-user'></a>Creating and Deleting Users ##

* To create a new user, run: `cf create-user USER_NAME PASSWORD`

    Example:

    <pre class="terminal">
    $ cf create-user ExampleUser pa55w0rd

    Creating user ExampleUser as admin...
    OK
    </pre>

* To delete a user, run: `cf delete USER_NAME`

    Example:

    <pre class="terminal">
    $ cf delete-user ExampleUser

    Really delete user ExampleUser?> yes
    Deleting user ExampleUser as admin...
    OK
    </pre>

### <a id='create-admin'></a>Creating Administrator Accounts ###

To create a new administrator account, use the [UAA CLI](./uaa-user-management.html#creating-admin-users).

**Note**: The `cf` CLI cannot create new administrator accounts.

## <a id='orgs-spaces'></a>Org and App Space Roles ##

A user can have one or more roles.
The combination of these roles defines the user’s overall permissions in the org
and within specific app spaces in that org.

### <a id='org-roles'></a>Org Roles ###

Valid [org roles](../concepts/roles.html#org-roles) are **OrgManager**, **BillingManager**, and **OrgAuditor**.

* To view the organizations in an account, run: `cf orgs`

    Example:

    <pre class="terminal">
    $ cf orgs

    Getting orgs as admin...

    name
    example-org
    my-department
    </pre>

* To see all users in an organization by role, run: `cf org-users ORGANIZATION_NAME`

    Example:

    <pre class="terminal">
    $ cf org-users example-org

    Getting users in org example-org as admin...

    ORG MANAGER
      alice
      cybelle

    BILLING MANAGER
      bertram

    ORG AUDITOR
    </pre>

* To assign an organization role to a user, run: `cf set-org-role USER_NAME ORGANIZATION_NAME ROLE`

    Example:

    <pre class="terminal">
    $ cf set-org-role ExampleUser example-org OrgManager

    Assigning role OrgManager to user ExampleUser in org example-org as admin...
    OK
    </pre>

* To remove an organization role from a user, run: `cf unset-org-role USER_NAME ORGANIZATION_NAME ROLE`

    Example:

    <pre class="terminal">
    $ cf unset-org-role ExampleUser example-org OrgManager

    Removing role OrgManager to user ExampleUser in org example-org as admin...
    OK
    </pre>

### <a id='space-roles'></a>App Space Roles ###

Each app space role applies to a specific app space.

**Note**: By default, the org manager has app space manager permissions for all spaces within the organization.

Valid [apps space roles](../concepts/roles.html#space-roles) are **SpaceManager**, **SpaceDeveloper**, and **SpaceAuditor**.

* To view the spaces in an organizations, run: `cf spaces`

    Example:

    <pre class="terminal">
    $ cf spaces

    Getting spaces in org example-org as admin...

    name
    development
    </pre>

* To see all users in a space by role, run: `cf space-users ORGANIZATION_NAME SPACE_NAME`

    Example:

    <pre class="terminal">
    $ cf space-users example-org development

    Getting users in org example-org / space development as admin

    SPACE MANAGER
      admin
      alice

    SPACE DEVELOPER
      admin
      delucia

    SPACE AUDITOR
    </pre>

* To assign a space role to a user, run: `cf set-space-role USER_NAME ORGANIZATION_NAME SPACE_NAME ROLE`

    Example:

    <pre class="terminal">
    $ cf set-space-role ExampleUser example-org development SpaceAuditor

    Assigning role SpaceAuditor to user ExampleUser in org example-org / space development as admin...
    OK
    </pre>

* To remove a space role from a user, run: `cf unset-space-role USER_NAME ORGANIZATION_NAME SPACE_NAME ROLE`

    Example:

    <pre class="terminal">
    $ cf unset-space-role ExampleUser example-org development SpaceAuditor

    Removing role SpaceAuditor to user ExampleUser in org example-org / space development as admin...
    OK
    </pre>