---
title: Configuring Load Balancer Healthchecks for Cloud Foundry Routers
owner: Routing
---

<strong><%= modified_date %></strong>

In environments where high availability is required operators should configure their own redundant load balancer to forward traffic directly to the CF routers. In environments where high-availabilty is not required you can skip the load balancer; configure DNS to resolve the CF domains directly to a single instance of a router.  

## 

To make sure your load balancer only forwards requests to router instances that are healthy, configure your load balancer to use the following HTTP healthcheck endpoints. Be sure to add the IP addresses of all router instances along with their corresponding port and path. 

  * HTTP Router (aka "Gorouter"): `http://gorouter_IP:8080/health`
  * TCP Router: `http://tcp_router_IP:80/health`

## Gorouter

You can configure the healthcheck port for the Gorouter in the cf-release manifest using the `router.status.port` property.

## TCP Router

You can configure the healthcheck port for the TCP Router in the routing-release manifest using the  `haproxy.health_check_port` property. 

<p class="note"><strong>Note</strong>: This property does not affect the healthcheck of the HAProxy deployed with cf-release.</p>

## HAProxy 

The HAProxy included in cf-release is an optional component that can be helpful in specific scenarios. For instance, if you deploy CF on Google Cloud Platform (GCP), having a tier of HAProxy instances behind Google's load balancer and in front of the Gorouters can remove the need to configure an additional Google load balancer to serve SSH requests to Diego containers.

You can configure the HAProxy healthcheck port in the cf-release manifest by setting the healthcheck endpoint to `http://haproxy_IP:8080/health`.
