---
title: cflinuxfs3 Support Now Available via Extended App Support Tile
owner: Buildpacks
---

## <a id="feature"></a>Feature Summary

TPCF 10.2 now supports running applications that use the cflinuxfs3 stack through a new Extended App Support tile. This capability is designed to help customers transition to 10.2 without needing to fully migrate all applications to cflinuxfs4.

This feature is intended to provide short-term relief for customers with remaining dependencies on cflinuxfs3, allowing time for a more gradual migration strategy. It is especially useful for enterprises with complex upgrade planning, or where certain apps have not yet been validated against newer stacks.

## <a id="how-to"></a>How It Works

To enable cflinuxfs3 support in TPCF 10.2, operators must:

   1. Be on TAS 6.0.17 or later.
   1. Add the Extended App Support tile from the Broadcom Support Portal.
   1. Configure the Extended App Support tile:
       *  **Network Configuration:** Configure the Network using “Assign AZs and Networks”. Choose the Availability Zone and Network for the temporary VM to run the install errand.
       * **Version Selection:** Select the cflinuxfs3-compatible buildpacks needed (e.g., Ruby, Java, Node.js) through the tile's checkbox-based UX. Any buildpacks that are not selected will be uninstalled.
       * **Errands:** Configure Post-Deploy and Pre-Delete errands related to the buildpacks and stack.
       * **Resource Config:** Select VM type that will be used for executing the errand.
   1. Apply Changes to rollout the Extended App Support tile.
   1. Upgrade the foundation to 10.2.1 patch version or higher

## <a id="notes"></a>Known Issues and Notes

   * The initial release of TPCF 10.2.0 does not support the new tile. Customers must upgrade to TAS 10.2.1 to use this functionality.
   * Buildpacks are no longer included with the platform by default and must be enabled via the tile, or added manually.
   * If customers restage or push an app without installing the needed buildpack(s), those operations will fail.
   * Operators should carefully review buildpack selection in the tile to avoid unexpected restage issues.
   * Customers will still be expected to fully migrate off cflinuxfs3 in the longer term (end-of-support aligns with Tanzu Platform 6.X line), as this support is intended for transition use only.
   * If uninstalling the Extended App Support tile while still on TAS 6.0.x uncheck the errands on the delete to prevent deleting the buildpacks and deregistering the cflinuxfs3 stack.

## <a id="cli-support"></a>CLI Support

 Customers can continue using the [stack-auditor cf CLI plugin](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/tanzu-platform-for-cloud-foundry/6-0/tpcf/stack-auditor.html#list-apps-and-their-stacks) to audit stack usage across their foundations and identify remaining cflinuxfs3 workloads that can now be supported in 10.2 using this feature

