---
title: Administering and Operating Cloud Foundry
---

## For Administrators of a Running Cloud Foundry Deployment

<li><a href="./buildpacks.html" class="subnav">Managing Custom Buildpacks</a></li>

<li><a href="./docker.html" class="subnav">Using Docker in Cloud Foundry</a></li>

<li><a href="./manage-domains-routes.html" class="subnav">Managing Domains and Routes</a></li>

<li><a href="./cli-user-management.html" class="subnav">Creating and Managing Users with the cf CLI</a></li>

<li><a href="../uaa/uaa-user-management.html" class="subnav">Creating and Managing Users with the UAA CLI (UAAC)</a></li>

<li><a href="./quota-plans.html" class="subnav">Creating and Modifying Quota Plans</a></li>

<li><a href="./notifications.html" class="subnav">Getting Started with the Notifications Service</a></li>

<li><a href="../devguide/deploy-apps/cf-networking.html" class="subnav">Administering Container-to-Container Networking</a></li>

<li><a href="./isolation-segments.html" class="subnav">Managing Isolation Segments</a></li>

<li><a href="./routing-is.html" class="subnav">Routing for Isolation Segments</a></li>

<li><a href="./listing-feature-flags.html" class="subnav">Feature Flags</a></li>

<li><a href="./instance-identity.html" class="subnav">Instance Identity</a></li>

<%=vars.setting_rate_limit_cloud_api%>

## For Operators Deploying Cloud Foundry

<li><a href="./start-stop-vms.html" class="subnav">Stopping and Starting Virtual Machines</a></li>

<li><a href="./diego-cell-upgrade.html" class="subnav">Managing Diego Cell Limits During Upgrade</a></li>

<li><a href="./bbs-encryption-keys.html" class="subnav">Bulletin Board System (BBS) Data Store Encryption</a></li>

<li><a href="./trusted-system-certificates.html" class="subnav">Configuring Trusted System Certificates for Applications</a></li>

<li><a href="./max-container-starts.html" class="subnav">Setting a Maximum Number of Started Containers</a></li>

<li><a href="./enabling_ipv6.html" class="subnav">Enabling IPv6 for Hosted Applications</a></li>

<li><a href="./securing-traffic.html" class="subnav">Securing Traffic into Cloud Foundry</a></li>

<li><a href="./enabling-tcp-routing.html" class="subnav">Enabling TCP Routing</a></li>

<li><a href="./troubleshooting_tcp_routing.html" class="subnav">Troubleshooting TCP Routing</a></li>

<li><a href="./supporting-websockets.html" class="subnav">Supporting WebSockets</a></li>

<li><a href="./configure-lb-healthcheck.html" class="subnav">Configuring Load Balancer Healthchecks for Cloud Foundry</a></li>

<li><a href="./zipkin_tracing.html">Enabling Zipkin Tracing</a></li>

<li><a href="./troubleshooting_slow_requests.html" class="subnav">Troubleshooting Slow Requests in Cloud Foundry</a></li>

<li><a href="./routing-keepalive.html" class="subnav">Router Idle Keepalive Connections</a></li>
