---
title: Administering and Operating Cloud Foundry
---

## For Administrators of a Running Cloud Foundry Deployment

* <a href="./buildpacks.html" class="subnav">Adding Buildpacks to Cloud Foundry</a>

* <a href="./custom-stack.html" class="subnav">Adding a Custom Stack</a>

* <a href="./docker.html" class="subnav">Using Docker in Cloud Foundry</a>

* <a href="./manage-domains-routes.html" class="subnav">Managing Domains and Routes</a>

* <a href="./cli-user-management.html" class="subnav">Creating and Managing Users with the cf CLI</a>

* <a href="./uaa-user-management.html" class="subnav">Creating and Managing Users with the UAA CLI (UAAC)</a>

* <a href="./quota-plans.html" class="subnav">Creating and Modifying Quota Plans</a>

* <a href="./notifications.html" class="subnav">Getting Started with the Notifications Service</a>

* <a href="./app-sec-groups.html" class="subnav">Application Security Groups</a>

* <a href="./listing-feature-flags.html" class="subnav">Feature Flags</a>

## For Operators Deploying Cloud Foundry

* <a href="./enabling_ipv6.html" class="subnav">Enabling IPv6 for Hosted Applications</a>
* <a href="./securing-traffic.html" class="subnav">Securing Traffic into Cloud Foundry</a>
* <a href="./enabling-tcp-routing.html" class="subnav">Enabling TCP Routing</a>
* <a href="./supporting-websockets.html" class="subnav">Supporting WebSockets</a>
* <a href="./configure-lb-healthcheck.html" class="subnav">Configuring Load Balancer Healthchecks for Cloud Foundry</a>
* <a href="./zipkin_tracing.html">Enabling Zipkin Tracing</a>
* <a href="./troubleshooting_slow_requests.html" class="subnav">Troubleshooting Slow Requests in Cloud Foundry</a>
