---
title: Managing Isolation Segments
owner: CAPI
---

<strong><%= modified_date %></strong>

This topic describes how Cloud Foundry (CF) operators can isolate deployment workloads to dedicated resource pools called _isolation segments_.

The Cloud Controller database (CCDB) represents isolation segments with a name and a GUID. When an admin creates a new isolation segment, the CCDB outputs a GUID for the new isolation segment object.

To manage the isolation segment, a user can send `curl` requests to the Cloud Controller API (CAPI) endpoint with the GUID of the isolation segment and an authorization token. <%= vars.api_endpoint_book %>

Basic operations on isolation segments include:

* Create a new isolation segment
* Retrieve an isolation segment object
* List isolation segments
* List orgs or spaces in an isolation segment
* Update an isolation segment
* Delete an isolation segment
* Add orgs or spaces to isolation segments
* Remove orgs or spaces from isolation segments

## <a id="contents"></a> Isolation Segment Contents

An isolation segment object in the CCDB includes the following:

* The unique name of the isolation segment
* A unique GUID
* Timestamps for the object's creation and most recent update
* Links to API endpoints for isolation segment requests

In the CCDB, an isolation segment object does not identify the orgs and spaces that it includes. The org and space objects define this relationship, by including the GUIDs of the isolation segments that they belong to.


## <a id="create_is"></a> Create an Isolation Segment

An admin creates an isolation segment by sending a `curl` command to the CAPI with a name to identify it. Isolation segment names must be unique across the entire system and not case-sensitive. Only admins can create isolation segments.

The following example uses a CAPI endpoint and authorization token to create an isolation segment named `my_segment`:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation\_segments" \
  -X POST \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6" \
  -d '{
    "name": "my\_segment"
  }'
</pre>

This example request returns the [contents](#contents) of the new isolation segment object, which includes its GUID `323f211e-fea3-4161-9bd1-615392327913`:

<pre class="terminal">
HTTP/1.1 200 OK<br>
{
   "guid": "323f211e-fea3-4161-9bd1-615392327913",
   "name": "my_segment",
   "created_at": "2016-10-19T20:25:04Z",
   "updated_at": "2016-11-08T16:41:26Z",
   "links": {
      "self": {
         "href": "https://api.example.org/v3/isolation_segments/323f211e-fea3-4161-9bd1-615392327913"
      },
      "spaces": {
         "href": "https://api.example.org/v3/isolation_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/spaces"
      },
      "organizations": {
         "href": "https://api.example.org/v3/isolation_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/organizations"
      }
   }
}
</pre>

## <a id="get_is"></a> Retrieve an Isolation Segment

To retrieve an isolation segment by its GUID, send a `curl` command like the following to the `isolation_segments/GUID` endpoint of your CAPI:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation_segments/323f211e-fea3-4161-9bd1-615392327913" \
  -X GET \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6"
</pre>

This example request returns the [contents](#contents) of the isolation segment:
<pre class="terminal">
HTTP/1.1 200 OK<br>
{
   "guid": "323f211e-fea3-4161-9bd1-615392327913",
   "name": "my\_segment",
   "created\_at": "2016-10-19T20:25:04Z",
   "updated\_at": "2016-11-08T16:41:26Z",
   "links": {
      "self": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913"
      },
      "spaces": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/spaces"
      },
      "organizations": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/organizations"
      }
   }
}
</pre>

## <a id="lists"></a> List Isolation Segment Information

These `curl` requests retrieve information for the isolation segments that you have access to, filtered by [parameters](http://v3-apidocs.cloudfoundry.org/version/3.0.0/index.html#list-isolation-segments) that you can include. The isolation segments you see information for depends on your role, as follows:

* **Admins** see all isolation segments in the system.
* **Org managers** see isolation segments containing orgs that they belong to.
* **Other users** see isolation segments containing spaces that they belong to.

### <a id="list_is"></a> List Isolation Segments

The following request returns a filtered list of the isolation segment objects that you can access:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation\_segments" \
  -X GET \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6"
</pre>

The list returns as a `resources` property structured in a paginated format.

### <a id="list_orgs"></a> List Orgs for an Isolation Segment

The following example request returns a list of orgs in the isolation segment with the given GUID. The request only returns orgs that you can access:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/organizations" \
  -X GET \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6"
</pre>

The request returns a list of orgs in the following format:
<pre class="terminal">
HTTP/1.1 200 OK<br>
{
  "data": [
    {
      "name": "my\_org",
      "guid": "45a66ed9-cb76-46c3-92dd-b29187b50bfb",
      "link": "/v2/organizations/45a66ed9-cb76-46c3-92dd-b29187b50bfb"
    },
    {
      "name": "my\_other\_org",
      "guid": "d0540a63-3bec-42ff-abd9-8a30328ba296",
      "link": "/v2/organizations/d0540a63-3bec-42ff-abd9-8a30328ba296"
    }
  ]
}
</pre>

### <a id="list_spaces"></a> List Spaces for an Isolation Segment

The following example request returns a list of spaces in the isolation segment with the given GUID. The request only returns spaces that you can access::
<pre class="terminal">
curl "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/spaces" \
  -X GET \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6"
</pre>

The request returns a list of spaces in the following format:
<pre class="terminal">
HTTP/1.1 200 OK<br>
{
  "data": [
    {
      "name": "my\_space",
      "guid": "68d54d31-9b3a-463b-ba94-e8e4c32edbac",
      "link": "/v2/spaces/68d54d31-9b3a-463b-ba94-e8e4c32edbac"
    },
    {
      "name": "my\_other\_space",
      "guid": "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
      "link": "/v2/spaces/b19f6525-cbd3-4155-b156-dc0c2a431b4c"
    }
  ]
}
</pre>

## <a id="manage_is"></a> Manage an Isolation Segment

These requests make changes to isolation segment objects in the CCDB. Only admins can make these changes.

### <a id="update_is"></a> Update an Isolation Segment

The following example renames the isolation segment with the given GUID to `my_isolation_segment`:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913" \
  -X PUT \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6" \
  -d '{
    "name": "my\_isolation\_segment"
  }'
</pre>

The request returns the following output:
<pre class="terminal">
HTTP/1.1 200 OK<br>
{
   "guid": "323f211e-fea3-4161-9bd1-615392327913",
   "name": "my\_isolation\_segment",
   "created\_at": "2016-10-19T20:25:04Z",
   "updated\_at": "2016-11-08T16:41:26Z",
   "links": {
      "self": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913"
      },
      "spaces": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/spaces"
      },
      "organizations": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/organizations"
      }
   }
}
</pre>

### <a id="delete_is"></a> Delete an Isolation Segment

The following example deletes an isolation segment with the given GUID:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913" \
  -X DELETE \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6" \
</pre>

The request outputs the following:
<pre class="terminal">
HTTP/1.1 204 No Content
</pre>

## <a id="relationships"></a> Manage Isolation Segment Relationships

These requests add and remove orgs and spaces from isolation segments. Only admins can perform these operations.

### <a id="add_is"></a> Add Orgs or Spaces to an Isolation Segment

When you add an org or space to one isolation segment, it becomes the default isolation segment for that org or space unless another default is already set. In the data field of the `curl` command, specify one or more orgs by GUID to add to the isolation segment.

The following example adds one or more orgs to an isolation segment. To add spaces, send the same command to the `/relationships/spaces` endpoint:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/organizations" \
  -X POST \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6" \
  -d '{
    "data": [
      { "guid":"45a66ed9-cb76-46c3-92dd-b29187b50bfb" },
      { "guid":"d0540a63-3bec-42ff-abd9-8a30328ba296" }
    ]
  }' 
</pre>

The request outputs the following:
<pre class="terminal">
HTTP/1.1 201 OK<br>
{
   "guid": "323f211e-fea3-4161-9bd1-615392327913",
   "name": "my\_segment",
   "created\_at": "2016-10-19T20:25:04Z",
   "updated\_at": "2016-11-08T16:41:26Z",
   "links": {
      "self": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913"
      },
      "spaces": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/spaces"
      },
      "organizations": {
         "href": "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/organizations"
      }
   }
}
</pre>

### <a id="revoke_is"></a> Remove Orgs or Spaces from an Isolation Segment

The following example removes one or more orgs from an isolation segment. To remove spaces, send the same command to the `/relationships/spaces` endpoint:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation\_segments/323f211e-fea3-4161-9bd1-615392327913/relationships/organizations" \
  -X DELETE \
  -H "Authorization: bearer 7h15154l0n64lph4num3r1c57r1n6" \
  -d '{
    "data": [
      { "guid":"45a66ed9-cb76-46c3-92dd-b29187b50bfb" },
      { "guid":"d0540a63-3bec-42ff-abd9-8a30328ba296" }
    ]
  }'
</pre>

The request outputs the following:
<pre class="terminal">
HTTP/1.1 204 No Content
</pre>

You cannot remove an org from an isolation segment if it contains a space within that org. You also cannot remove an org from its default isolation segment when the org belongs to multiple associated isolation segments.