---
title: Enable Workload Isolation with Isolation Segments
owner: ??
---

<strong><%= modified_date %></strong>

This topic describes how CF operators can isolate app deployments to dedicated pools of resources.

## <a id="create_is"></a> Create an Isolation Segment

<p class="note"><strong>Note</strong>: Only admins can create isolation segments.</p>

Isolation segment names must be unique across the entire system and are not case-sensitive.

The following example creates an isolation segment named `my_segment`:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation\_segments" \
  -X POST \
  -H "Authorization: bearer [token]" \
  -d '{
    "name": "my\_segment"
  }'
</pre>

The example request should return the following output:
<pre class="terminal">
HTTP/1.1 200 OK

{
   "guid": "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
   "name": "my\_segment",
   "created\_at": "2016-10-19T20:25:04Z",
   "updated\_at": "2016-11-08T16:41:26Z",
   "links": {
      "self": {
         "href": "https\://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c"
      },
      "spaces": {
         "href": "https\://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c/relationships/spaces"
      },
      "organizations": {
         "href": "https\://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c/relationships/organizations"
      }
   }
}
</pre>

## <a id="get_is"></a> Retrieve an Isolation Segment

The following example requests an isolation segment by `guid`:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation_segments/[guid]" \
  -X GET \
  -H "Authorization: bearer [token]"
</pre>

The example request should return the following output:
<pre class="terminal">
HTTP/1.1 200 OK

{
   "guid": "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
   "name": "my\_segment",
   "created\_at": "2016-10-19T20:25:04Z",
   "updated\_at": "2016-11-08T16:41:26Z",
   "links": {
      "self": {
         "href": "https\://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c"
      },
      "spaces": {
         "href": "https\://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c/relationships/spaces"
      },
      "organizations": {
         "href": "https\://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c/relationships/organizations"
      }
   }
}
</pre>

## <a id="update_is"></a> Update an Isolation Segment

<p class="note"><strong>Note</strong>: Only admins can update isolation segments.</p>

The following example updates an isolation segment named `my_segment`:
<pre class="terminal">
curl "https\://api.example.org/v3/isolation\_segments/[guid]" \
  -X PUT \
  -H "Authorization: bearer [token]" \
  -d '{
    "name": "my\_segment"
  }'
</pre>

The example request should return the following output:
<pre class="terminal">
HTTP/1.1 200 OK

{
   "guid": "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
   "name": "my\_segment",
   "created\_at": "2016-10-19T20:25:04Z",
   "updated\_at": "2016-11-08T16:41:26Z",
   "links": {
      "self": {
         "href": "https\://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c"
      },
      "spaces": {
         "href": "https\://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c/relationships/spaces"
      },
      "organizations": {
         "href": "https://api.example.org/v3/isolation\_segments/b19f6525-cbd3-4155-b156-dc0c2a431b4c/relationships/organizations"
      }
   }
}
</pre>