---
title: Enable Workload Isolation with Isolation Segments
owner: ??
---

<strong><%= modified_date %></strong>

This topic describes how CF operators can isolate app deployments to dedicated pools of resources.

## <a id="associate_cells"></a> Associate Cells with an Isolation Segment

In the BOSH deployment manifest, add the `placement_tags` attribute to each Diego cell to be included in a given isolation segment. Add the name of the segment as one of the values.

For example, in `releases/diego.yml`:
<pre class="terminal">
	- instances: 1
	  name: cell\_z2
	  networks:
	  - name: diego2
  	properties:
  	  diego:
  	    rep:
  	      [...]
  	      placement\_tags:
  	      - segment_name
</pre>

Apply the changes by deploying BOSH. This step requires BOSH deployment permissions:
<pre class="terminal">
	$ bosh deploy
</pre>

## <a id="segment-create"></a> Create an Isolation Segment with the cf CLI

Create an isolation segment using a name that matches the placement tag. See [Associate Cells with an Isolation Segment](#associate_cells) above. This step requires CF admin permissions.
<pre class="terminal">
	$ cf create-isolation-segment segment_name
</pre>
 
List isolation segments:
<pre class="terminal">
	$ cf isolation-segments
	name           orgs
	segment_name
</pre>

## <a id="org-entitle"></a> Entitle an Org for an Isolation Segment

Entitle an org for an isolation segment. This step requires CF admin permissions.
<pre class="terminal">
	$ cf enable-org-isolation-segment org\_name segment_name
</pre>

## <a id="space-set"></a> Set the Isolation Segment for a Space

Create a space where apps will be deployed:
<pre class="terminal">
	$ cf create-space space_name
</pre>

Assign the segment to an existing space. This requires org manager permissions.
<pre class="terminal">
	$ cf set-space-isolation-segment space\_name segment_name
</pre>

## <a id="push-app"></a> Push an App to a Segment

After a space is assigned to a segment, a developer can push to the isolation segment using `cf push`.
## <a id="org-management"></a> Org Isolation Segment Management

View isolation segments enabled for an org:
<pre class="terminal">
	$ cf org finance
	Domains:            example.domain.com
	Quota:              default
	Spaces:             operations, development
	Space quotas:
	Isolation segments: secure
</pre>

Revoke the organization’s entitlement for an isolation segment:
<pre class="terminal">
	$ cf disable-org-segment org\_name segment_name
</pre>

<p class="note"><strong>Note</strong>: When spaces with an isolation segment assignment contain apps, this relationship cannot be changed.</p>

Set the org isolation segment default:
<pre class="terminal">
	$ cf set-org-default-isolation-segment org_name segment_name
</pre>

## <a id="space-management"></a> Space Isolation Segment Management

View isolation segment assignment for a space:
<pre class="terminal">
	$ cf space operations                     
	Org:               finance
	Apps:              invoicing, accounts
	Domains:           example.domain.com
	Services:          mysql-db
	Security groups:   public_networks, dns
	Space quota:       
	Isolation segment: secure
</pre>

Remove the isolation segment assignment from a space:
<pre class="terminal">
	$ cf unset-space-isolation-segment operations
</pre>

<p class="note"><strong>Note</strong>: When a space contains apps, this relationship cannot be changed.</p>