---
title: Feature Flags
---

<strong><%= modified_date %></strong>

Feature flags are switches that you set using the Cloud Controller API.
They allow an administrator to turn on or off functional sections of code, or features, of an application without deploying new code. Use feature flags to enable or disable features available to users.

## <a id='flags'></a>Feature Flags ##

There are six feature flags that you can set. They are all enabled by default except `user_org_creation`. When disabled, these features are only available to administrators.

* `user_org_creation`: Any user can create an organization via the API.
* `private_domain_creation`: An organization manager can create private domains for that organization.
* `app_bits_upload`: Space developers can upload app bits.
* `app_scaling`: Space developers can perform scaling operations (i.e. change memory, disk, or instances).
* `route_creation`: Space developers can create routes in a space.
* `service_instance_creation`: Space developers can create service instances in a space.

## <a id='commands'></a>Feature Flag Commands ##

### Get All Feature Flags ###

```
GET /v2/config/feature_flags
```

### Get a Feature Flag ###

```
GET /v2/config/feature_flags/FEATURE_FLAG_NAME
```

### Set a Feature Flag ###

```
PUT /v2/config/feature_flags/FEATURE_FLAG_NAME
```

To view the feature flag commands, review the **Feature Flags** section of the [Cloud Foundry API documentation](http://apidocs.cloudfoundry.org).