---
title: Feature Flags
---

A feature flag allows an administrator to turn on or off a functional section of the code, or features, of an application without deploying new code. You can utilize these to determine whether or not a feature should be made available to one or more users.

## <a id='flags'></a>Current Feature Flags ##

There are six feature flags that you can set. They are all enabled by default except `user_org_creation`. When disabled, these features are only available to administrators.

* `user_org_creation`: Any user can create an organization via the API.
* `private_domain_creation`: An organization manager can create private domains for that organization.
* `app_bits_upload`: Space developers can upload app bits.
* `app_scaling`: Space developers can perform scaling operations (i.e. change memory, disk, or instances).
* `route_creation`: A space developer can create routes in a space.
* `service_instance_creation`: A space developer can create service instances in a space.

## <a id='commands'></a>Feature Flag Commands ##

To view the feature flag commands, review the **Feature Flags** section of the [Cloud Foundry API documentation](http://apidocs.cloudfoundry.org)