---
title: Feature Flags
owner: CLI
---

<strong><%= modified_date %></strong>

This topic describes how Cloud Foundry (CF) administrators can set feature flags using the cf Command Line Interface (CLI) to enable or disable features available to users.

## <a id='flag-commands'></a>View and Edit Feature Flags

To perform the following procedures, you must be logged in to your deployment as an administrator using the cf CLI.

1. Use the `cf feature-flags` command to list the feature flags:

    <pre class="terminal">
    $ cf feature-flags

    Features                               State
    user_org_creation                      disabled
    private_domain_creation                enabled
    app_bits_upload                        enabled
    app_scaling                            enabled
    route_creation                         enabled
    service_instance_creation              enabled
    diego_docker                           disabled
    set_roles_by_username                  enabled
    unset_roles_by_username                enabled
    task_creation                          enabled
    env_var_visibility                     enabled
    space_scoped_private_broker_creation   enabled
    space_developer_env_var_visibility     enabled
    </pre>

1. To get the status of a feature flag, use the `cf feature-flag FEATURE-FLAG-NAME` command:

    <pre class="terminal">
    $ cf feature-flag user_org_creation

    Retrieving status of user_org_creation as admin...
    OK

    Features            State
    user_org_creation   disabled
    </pre>

1. To enable a feature flag, use the `cf enable-feature-flag FEATURE-FLAG-NAME` command:

    <pre class="terminal">
    $ cf enable-feature-flag user_org_creation
    </pre>

1. To disable a feature flag, use the `cf disable-feature-flag FEATURE-FLAG-NAME` command:

    <pre class="terminal">
    $ cf disable-feature-flag user_org_creation
    </pre>

## <a id='flags'></a>Feature Flags ##

Only administrators can set feature flags. All flags are enabled by default except `user_org_creation`,
`diego_docker`, and `task_creation`. When disabled, these features are only available to administrators.

The following list provides descriptions of the features enabled or disabled by each flag:

* `user_org_creation`: Any user can create an organization. Minimum CC API version: 2.12.
* `private_domain_creation`: An organization manager can create private domains for that organization. minimum CC API version: 2.12
* `app_bits_upload`: Space developers can upload app bits. minimum CC API version: 2.12
* `app_scaling`: Space developers can perform scaling operations (i.e. change memory, disk, or instances). minimum CC API version: 2.12
* `route_creation`: Space developers can create routes in a space. minimum CC API version: 2.12
* `service_instance_creation`: Space developers can create service instances in a space. minimum CC API version: 2.12
* `diego_docker`: Space developers can push docker apps. minimum CC API version 2.33
* `set_roles_by_username`: Org Managers and Space Managers can add roles by username. minimum CC API version: 2.37
* `unset_roles_by_username`: Org Managers and Space Managers can remove roles by username. minimum CC API version: 2.37
* `task_creation`: Space developers can create tasks on their application. 
This feature is under development and is experimental.
* `env_var_visibility`                     
* `space_scoped_private_broker_creation`   
* `space_developer_env_var_visibility`


For more information about feature flag commands, see the **Feature Flags** section of the [Cloud Foundry API documentation](http://apidocs.cloudfoundry.org).
