---
title: Managing Domains and Routes
owner: Routing
---

<strong><%= modified_date %></strong>

If you are an administrator, you can manage custom shared domains and wildcard routes.

For additional information about managing routes and domains, refer to the following topic:

* [Routes and Domains](../devguide/deploy-apps/routes-domains.html)

## <a id='create-shared-custom-domain'></a>Creating a Shared Custom Domain

You can use a registered domain of your own and associate it with all
organizations in your account.
Use the [cf create-shared-domain](http://cli.cloudfoundry.org/en-US/cf/create-shared-domain.html) command to create a shared custom domain
available to all organizations in your account.

For example:

<pre class='terminal'>
$ cf create-shared-domain <%= vars.app_domain %>
</pre>

## <a id='delete-shared-custom-domain'></a>Deleting a Shared Custom Domain

Use the [cf delete-shared-domain](http://cli.cloudfoundry.org/en-US/cf/delete-shared-domain.html) command to delete a shared domain:

<pre class='terminal'>
$ cf delete-shared-domain <%= vars.app_domain %>
</pre>

<p class='note'><strong>Note</strong>: Deleting a shared domain removes all associated routes, making any application with this domain unreachable.</p>

## <a id='create-wildcard-route'></a>Creating a Wildcard Route

Use the [cf create-route](http://cli.cloudfoundry.org/en-US/cf/create-route.html) command with a **wildcard route** by specifying the
host as `*`.
The star operator, `*`, signals a wildcard route to match any URL that uses your
domain, regardless of the host.

<p class='note'><strong>Note</strong>: You must surround the <code>*</code> with quotation marks when referencing it using the CLI.</p>

For example, the following command created the wildcard route "*.example.org" in the "development" space:

<pre class='terminal'>
$ cf create-route development example.org -n "*"
</pre>
