---
title: Creating and Managing Users with the UAA CLI (UAAC)
---

Using the UAA Command Line Interface (UAAC), an administrator can create users
and manage organization and space roles.

For additional details and information, refer to the following:

* [UAA Overview](/concepts/architecture/uaa.html)
* [UAA Sysadmin Guide](https://github.com/cloudfoundry/uaa/blob/master/docs/Sysadmin-Guide.rst)
* [Other UAA Documentation](https://github.com/cloudfoundry/uaa/tree/master/docs)

## <a id='creating-admin-users'></a>Creating Admin Users ##

1. Refer to your deployment manifest for the **uaa:admin:client_secret**. Refer to this [manifest](/deploying/vsphere/cloud-foundry-example-manifest.html) as an example.

2. Install the UAA CLI, `uaac`:
<pre class="terminal">
$ gem install cf-uaac
</pre>

3. Target your UAA and obtain a token for the admin client:
<pre class="terminal">
$ uaac target uaa.[your-domain].com
$ uaac token client get admin -s [admin-client-secret]
</pre>

3. Check for sufficient permissions for an admin to create an account, in particular **scim.write**. If sufficient permissions do not exist, add this permission and renew the token:
<pre class="terminal">
$ uaac contexts
[...]
  scope: password.write clients.write clients.read scim.read uaa.admin clients.secret
$ uaac client update admin --authorities "password.write clients.write clients.read scim.read uaa.admin clients.secret scim.write"
$ uaac token delete
$ uaac token client get admin
</pre>

4. Create an admin user and add them to the admin group:
<pre class="terminal">
$ uaac user add [admin-username] -p [admin-password] --emails [admin-user-email-address]
$ uaac member add cloud_controller.admin [admin-username]
</pre>

## <a id='creating-users'></a>Creating Users ##

1. Obtain the credentials of an admin user created using UAAC as above, or refer to the the `uaa: scim` section of your deployment manifest for the email address and password of an admin user. Refer to the bottom of this [manifest](/deploying/vsphere/cloud-foundry-example-manifest.html) as an example.

2. Use the admin email address and password to create a new user:
<pre class="terminal">
$ cf login [admin-user-email-address]
...
$ cf create-user [user-email-address]
...
</pre>

## <a id='changing-passwords'></a>Changing Passwords ##

1. Obtain the credentials of an admin user created using UAAC as above, or refer to the the `uaa: scim` section of your deployment manifest for the email address and password of an admin user. Refer to the bottom of this [manifest](/deploying/vsphere/cloud-foundry-example-manifest.html) as an example.

2. Use the admin email address and password to change a user password to a temporary password:
<pre class="terminal">
$ uaac password set [user-email-address] -p TEMP-PASSWORD
</pre>

3. Provide the **TEMP-PASSWORD** to the user. Have the user change the password using the following commands:
<pre class="terminal">
$ cf target api.[your-domain].com
$ cf login --username EMAIL --password TEMP-PASSWORD
$ cf passwd --password USER-PROVIDED-PASSWORD
</pre>