---
title: Using the BOSH CLI with Your Deployment
---

<strong><%= modified_date %></strong>

_This topic assumes you are using BOSH CLI v2.0.16 or later._

This topic explains how to use the Golang [BOSH Command Line Interface (CLI)](https://bosh.io/releases/github.com/cloudfoundry/bosh?all=1) to interact with your <%= vars.product_full %> deployment.

## <a id="versions"></a>Manage Multiple CLI Versions

If you have installed both the new and old versions of the CLI, either remove or rename one version to be sure you run commands with the version you intend.

Choose one of the following options:

1. **Rename BOSH CLI version 2**. Use `bosh` for the old CLI and `bosh2` for the new CLI.
1. **Rename BOSH CLI version 1**. Use `bosh-old` for the old CLI and `bosh` for the new CLI.
1. **Remove BOSH CLI version 1**. Use `bosh` for the new CLI.

The terminal output examples in this topic show `bosh2` commands.

## <a id="alias"></a>Set an Environment Alias

Use the `alias-env` command to save the path to your Director environment.
This replaces the `bosh target` command from the previous version of the BOSH CLI.

Run the following command to save your Director as an alias:

<pre>
bosh alias-env MY-ENV -e DIRECTOR-IP --ca-cert PATH/TO/CA-CERT
</pre>

Replace the text above with the following:

* `MY-ENV`: an alias of your choice.
* `DIRECTOR-IP`: the IP address of your BOSH Director.
* `PATH/TO/CA-CERT`: the path to your root CA certificate.

For example:

<pre class="terminal">
$ bosh2 alias-env prod -e 192.168.8.10 --ca-cert /var/tempest/workspaces/default/root_ca_certificate
Using environment '192.168.8.10' as user 'director' (bosh.*.read, openid, bosh.*.admin, bosh.read, bosh.admin)

Name      microbosh-a1bc234567d890abc123
UUID      a12a12a1-b12a-123b-4abc-1a23432101a1
Version   262.1.0 (00000000)
CPI       vsphere_cpi
Features  compiled_package_cache: disabled
          config_server: enabled
          dns: disabled
          snapshots: disabled
User      director

Succeeded
</pre>

Use `bosh envs` to list all your environments.

## <a id="login"></a>Log in to Your Environment

To log in to your environment, use `bosh -e MY-ENV login`, replacing `MY-ENV` with the alias you set above.
Follow the prompts to enter your BOSH Director username and password.

For example:

<pre class="terminal">
$ bosh2 -e prod login
Email (): director
Password ():

Successfully authenticated with UAA

Succeeded
</pre>

You can also use the built-in alias, `bosh -e MY-ENV l`.




## <a id="deployments"></a>List Deployments

To list all deployments in the environment, use `bosh -e MY-ENV deployments`, replacing `MY-ENV` with the alias you set for the BOSH Director.

For example:

<pre class="terminal">
$ bosh2 -e prod -d deployments
Using environment '192.168.8.10' as user 'director' (bosh.*.read, openid, bosh.*.admin, bosh.read, bosh.admin)

Name                                Release(s)                Stemcell(s)                                         Team(s)  Cloud Config
cf                                  binary-buildpack/1.0.9    bosh-warden-boshlite-ubuntu-trusty-go_agent/3363.9  -        latest
                                    capi/1.21.0
                                    cf-mysql/34
                                    cf-smoke-tests/11
                                    cflinuxfs2-rootfs/1.52.0
                                    consul/155
                                    diego/1.8.1
                                    etcd/94
                                    garden-runc/1.2.0
                                    loggregator/78
                                    nats/15
                                    routing/0.145.0
                                    statsd-injector/1.0.20
                                    uaa/25
my-service_1abc23d4-e5f9-0123-4...  mysql/0.6.0               bosh-warden-boshlite-ubuntu-trusty-go_agent/3363.9  -        latest

2 deployments

Succeeded
</pre>

You can also use the built-in alias `bosh -e MY-ENV ds`.

To list information about a single deployment, use `bosh -e MY-ENV -d MY-DEPLOYMENT deployment`, replacing `MY-ENV` with the BOSH Director alias and `MY-DEPLOYMENT` with the name of the deployment.

For example:

<pre class="terminal">
$ bosh2 -e prod -d my-service_1abc23d4-e5f9-0123-4 deployment
Using environment '192.168.8.10' as user 'director' (bosh.*.read, openid, bosh.*.admin, bosh.read, bosh.admin)

Name                                Release(s)                Stemcell(s)                                         Team(s)  Cloud Config
my-service_1abc23d4-e5f9-0123-4...  mysql/0.6.0               bosh-warden-boshlite-ubuntu-trusty-go_agent/3363.9  -        latest

1 deployment

Succeeded
</pre>

You can also use the built-in alias `bosh -e MY-ENV -d MY-DEPLOYMENT dep`.

## <a id="instances"></a>List Deployment Instances

To list all instances in the environment, use `bosh -e MY-ENV instances`, replacing `MY-ENV` with the alias you set for the BOSH Director.

To list all instances in a single deployment, use `bosh -e MY-ENV -d MY-DEPLOYMENT instances`, replacing `MY-ENV` with the BOSH Director alias and `MY-DEPLOYMENT` with the name of the deployment.

For example:

<pre class="terminal">
$ bosh2 -e prod -d my-service_1abc23d4-e5f9-0123-4abc-56de7fab8901 instances
Using environment '192.168.8.10' as user 'director' (bosh.*.read, openid, bosh.*.admin, bosh.read, bosh.admin)

Task 169727. Done

Deployment 'my-service_1abc23d4-e5f9-0123-4abc-56de7fab8901'

Instance                                                 Process State  AZ                     IPs
consul-server/34f5a678-b901-2345-6cd7-89012345ef6a       running        DEFAULT-AZ             192.168.40.183
consul-server/7b8901c2-3d45-6789-012e-3456f7ab89cd       running        DEFAULT-AZ             192.168.40.184
consul-server/0efa12b3-4c5d-6e7f-a8bc-90d1e2f345ab       running        DEFAULT-AZ             192.168.40.182
pgbackrest/0a12b34c-5de6-78f9-0a12-34567b8901b2          running        DEFAULT-AZ             192.168.40.185
postgresql-haproxy/3456cde7-8f9a-012b-3c45-678d901234e5  running        DEFAULT-AZ             192.168.40.218
postgresql/67f89a0b-123c-4d5e-6fab-7890c1de23f4          failing        DEFAULT-AZ             192.168.40.217
postgresql/56a78b90-1cd2-3e45-6fab-78c90d1e2f3f          running        DEFAULT-AZ             192.168.40.186
smoke-tests/89012a34-567b-8cde-fab9-01c2d3ef456a         -              DEFAULT-AZ             -

8 instances

Succeeded
</pre>

You can also use the built-in alias, `bosh -e MY-ENV is`.

## <a id="vms"></a>List Deployment VMs

To list all VMs in the environment, use `bosh -e MY-ENV vms`, replacing `MY-ENV` with the alias you set for the BOSH Director.

To list all instances in a single deployment, use `bosh -e MY-ENV -d MY-DEPLOYMENT vms`, replacing `MY-ENV` with the BOSH Director alias and `MY-DEPLOYMENT` with the name of the deployment.

For example:

<pre class="terminal">
$ bosh2 -e prod -d my-service_1abc23d4-e5f9-0123-4abc-56de7fab8901 vms
</pre>

## <a id="tasks"></a>List Tasks

Use `bosh -e MY-ENV tasks` to list all recent and current tasks in your environment.
Replace `MY-ENV` with the alias you set for your BOSH Director, and include `-d MY-DEPLOYMENT` to list tasks for a single deployment.

For example:

<pre class="terminal">
$ bosh2 -e prod -d my-service_1abc23d4-e5f9-0123-4abc-56de7fab8901 tasks 
Using environment '192.168.56.6' as user 'director'

#   State  Started At                    Last Activity At              User      Deployment                          Description                   Result

27  done   Thu Feb 16 19:16:15 UTC 2017  Thu Feb 16 19:20:33 UTC 2017  director  my-service_1abc23d4-e5f9-0123-4...  create deployment             /deployments/my-service
26  done   Thu Feb 16 18:54:32 UTC 2017  Thu Feb 16 18:55:27 UTC 2017  director  my-service_1abc23d4-e5f9-0123-4...  delete deployment my-serv...  /deployments/my-service
...

2 tasks

Succeeded
</pre>

You can also use the built-in alias `bosh -e MY-ENV ts`.

See the [BOSH documentation](https://bosh.io/docs/cli-v2.html#task-mgmt) for more information about task commands.

## <a id="events"></a>List Events

Use `bosh -e MY-ENV events` to list events that your environment has recorded in its database.
Replace `MY-ENV` with the alias you set for your BOSH Director, and include `-d MY-DEPLOYMENT` to list events for a single deployment.

For example:

<pre class="terminal">
$ bosh2 -e prod -d my-service_1abc23d4-e5f9-0123-4abc-56de7fab8901 events 
</pre>

See the [BOSH documentation](https://bosh.io/docs/events.html) for more information about which events the Director records.

## <a id="ssh"></a>SSH into an Instance

To SSH into a VM instance, use `bosh -e MY-ENV -d MY-DEPLOYMENT ssh INSTANCE`.

Replace the text above with the following:

* `MY-ENV`: the alias you set for your BOSH Director
* `MY-DEPLOYMENT`: the name of your deployment
* `INSTANCE`: the destination VM instance

<pre class="terminal">
$ bosh2 -e prod -d my-service_1abc23d4-e5f9-0123-4abc-56de7fab8901 ssh diego-cell/012a45b6-7c8d-901e-2345-fa6b7c8d90e1
</pre>

See the [BOSH Documentation](https://bosh.io/docs/cli-v2.html#errand-mgmt) for more information about the SSH command.