---
title: cf-release End of Life
owner: Release Integration
---

<p class="note warning"><strong>IMPORTANT</strong>: <code>cf-release</code> has been replaced by <code>cf-deployment</code> and moved to the <a href="https://github.com/cloudfoundry-attic/cf-release">Cloud Foundry attic</a>.</p>

## Next Steps

* If you have an existing Cloud Foundry deployment that uses <code>cf-release</code>, see the <a href="./migrating.html">Migrating from cf-release to cf-deployment</a> topic.

* If you are deploying Cloud Foundry for the first time, see the <a href="./cf-deployment/index.html">Deploying Cloud Foundry with cf-deployment</a> topic.

## Questions and Feedback

If you have questions about migrating your deployment or using `cf-deployment`, reach out to us on GitHub or Slack:

* **GitHub**: [cf-deployment](https://github.com/cloudfoundry/cf-deployment)

* **Slack**: [#cf-deployment](https://cloudfoundry.slack.com/messages/C2U7KA7M4/)
