---
title: Overview of Deploying Cloud Foundry
owner: Release Integration
---

Cloud Foundry is designed to be configured, deployed, managed, scaled, and
upgraded on any cloud IaaS provider. Cloud Foundry achieves this by leveraging
[BOSH](https://bosh.io/), an open source tool for release engineering,
deployment, lifecycle management, and distributed systems monitoring.

If installing Cloud Foundry for the first time, [deploy](./cf-deployment/index.html) with `cf-deployment`.

If you have an existing Cloud Foundry deployment that uses `cf-release`, [migrate](./migrating.html) your deployment to `cf-deployment`.

* [Deploying Cloud Foundry with cf-deployment](./cf-deployment/index.html)
* [Migrating from cf-release to cf-deployment](./migrating.html)

<p class="note"><strong>Note</strong>: <%=vars.cfdev_link %></p>