---
title: Setting a Maximum Number of Instance Starts
owner: Diego
---

This topic describes how to set a maximum number of instance starts in your Diego manifest.


## <a id='overview'></a> Overview

Use the Diego Auctioneer component to set the maximum number of app instances running at a given time. A lower default can prevent server overload, which may be important if you are using a small server. If you are using a cloud-based IaaS rather than a smaller on-premise solution, Cloud Foundry recommends leaving the default at `0`.

The Diego Auctioneer only schedules a fixed number of app instances to start at one time. This limit applies to both single and multiple Diego Cells. For example, if you set the limit to five started instances, it does not matter if you have one Diego Cell with ten instances or five Diego Cells with two instances each. The Diego Auctioneer does not allow more than five instances to start at the same time.


## <a id='configure-max-number'></a> Configure the Maximum Number of Started Instances

To configure the maximum number of started instances:

1. Open the Diego manifest in a text editor.

1. Find the `diego.auctioneer.starting_container_count_maximum` property.

1. Type the maximum number of instances the Diego Auctioneer should allow to start.

1. Save the changes and re-deploy BOSH.

<p class="terminal">diego.auctioneer.starting_container_count_maximum:<br/>
    description: "Maximum number of inflight container starts allowed globally. Value of 0 or less indicates no limit."<br/>
    default: Your-numerical-value-here</p>